.main-app {
  text-align: center;
  margin: 30px;
}

.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
}

.connect-wallet-button {
  background: rgb(32, 129, 226);
}

.mint-nft-button {
  background: orange;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/MoonDance-Regular.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}